<!DOCTYPE html>
<html>
	<head>
		<title>YelpCamp</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	</head>

	<body>
        <nav class="navbar navbar-expand font-weight-bolder row">
            <a class="navbar-brand mr-auto" href={{url_for("home")}}>YelpCamp</a>
<!--            <button class="navbar-toggler" data-toggle="collapse" data-target="#navContent" aria-label="Toggle navigation">-->
<!--                <span class="navbar-toggler-icon"></span>-->
<!--            </button>-->

            <div class="navbar-nav mr-1" id="navContent">
                <div class="navbar-nav">
                    {% if current_user.is_authenticated %}
                    <a href={{url_for('user_account', user_id=current_user.id )}} class="nav-link">Welcome, {{ current_user.name.title() }}</a>
                    <a href={{url_for('logout')}} class="nav-link">Logout</a>

                    {% else %}
                    <a href={{url_for('login')}} class="nav-link">Login</a>
                    <a href={{url_for('register')}} class="nav-link">Sign Up</a>

                    {% endif %}
                </div>
            </div>
        </nav>

