{% include "header.html" %}

<div class="container">
	<header class="jumbotron text-center">
        <div class="container">
            <h1>Welcome to YelpCamp!</h1>
            <p>View our hand-picked campgrounds from all the world</p>
            <a class="btn btn-primary" href={{url_for("new_campground")}}>Add a New Campground</a>
        </div>
    </header>

    {% if campgrounds == [] %}
    <h5 class="text-center mb-5">There is no campground data.</h5>
    {% else %}
    <div class="row align-items-center text-center" style="display:flex; flex-wrap: wrap;">
            {% for campground in campgrounds %}
            <div class="col-md-3 col-sm-6">
                <div class="img-thumbnail">
                    <img src={{ campground.image }} alt={{ campground.name }} class="img-fluid">
                    <div class="caption">
                         <h4> {{ campground.name }} </h4>
                    </div>
                    <p>
                        <a href="/campgrounds/{{ campground._id }}">More Info</a>
                    </p>
                </div>
            </div>
            {% endfor %}
    </div>
    {% endif %}
</div>

{% include "footer.html" %}
