
{% import 'bootstrap/wtf.html' as wtf %}
{% include "header.html" %}

<div class="container w-75 bg-light rounded py-5 mb-5">
    {% if is_edit %}
    <h1 class="text-center">Edit a Campground</h1>
    <form action="{{url_for('edit_campground', campground_id=id)}}" method="POST" class="w-50 mx-auto mt-5 mb-3">
    {% else %}
    <h1 class="text-center">Create a New Campground</h1>
    <form action="{{url_for('new_campground')}}" method="POST" class="w-50 mx-auto mt-5 mb-3">
    {% endif %}

        {{form.csrf_token}}

        <div class="mb-3 d-flex flex-column">
            {{ ckeditor.load() }}
            {{ ckeditor.config(name='description') }}
            {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}

        </div>

        <div class="text-center">
            <a href={{url_for("home")}}>Go Back</a>
        </div>
    </form>
</div>

{% include "footer.html" %}
