{% include "header.html" %}

<div class="container w-75 bg-light rounded py-5 mb-5">
    <h1 class="text-center">Create a New Campground</h1>

    <form action={{url_for("new_campground")}} method="POST" class="w-50 mx-auto mt-5 mb-3">
        {{form.csrf_token}}

        <div class="mb-3 d-flex flex-column">
            {{form.name.label}}
            {{form.name}}
            {% for err in form.name.errors %}
            <span class="text-warning">{{ err }}</span>
            {% endfor %}
        </div>
        <div class="mb-3 d-flex flex-column">
            {{form.image.label}}
            {{form.image}}
        </div>
        <div class="mb-3 d-flex flex-column">
            {{form.description.label}}
            {{form.description(rows="4", cols="40")}}
        </div>
        <div class="my-5">
            {{form.submit(class="btn btn-primary btn-block")}}
        </div>
        <div class="text-center">
            <a href={{url_for("home")}}>Go Back</a>
        </div>
    </form>
</div>

{% include "footer.html" %}
