{% include "header.html" %}

<div class='ui main text container'>
    <form action='/register' method='POST' class='ui form' style='width: 50%; margin: auto'>
        <h1 class='ui header centered'>Sign Up</h1>
        <div class='field'>
            <tag>Username</tag>
            <input type='text' name='username' placeholder="Enter username">
        </div>
        <div class='field'>
            <tag>Password</tag>
            <input type='password' name='password' placeholder="Enter password">
        </div>
        <div class='ui center aligned text container'>
            <button class='ui button basic blue' type='submit'>Sign Up</button>
        </div>
    </form>
</div>


{% include "footer.html" %}